* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fdfdfd;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 99999;

}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 90px;
  height: 90px;
  border: 10px solid #dddddd;
  border-top-color: #007ced;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.loader .active {
  transform: translateY(-100vh);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}

.counterloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  z-index: 99999;
}

/*********************Header Section Start*******************/
#header {
  height: 95vh;
  background-color: #111;
  opacity: 0.8;
  margin: 15px;
  border-radius: 30px;
  position: relative;
  z-index: 9999;
}

/*********************Header Section End*******************/


/*********************About Section Start*****************/
#about {
  height: 95vh;
  background-color: #111;
  opacity: 0.8;
  margin: 15px;
  border-radius: 30px;
  position: relative;
  color: #ababab;
}

/*********************About Section End*****************/

/********************Services Section Start*************/
#services {
  height: 95vh;
  background-color: #111;
  opacity: 0.8;
  margin: 15px;
  border-radius: 30px;
  position: relative;
}


/********************Services Section End*************/

/********************Portfolio Section Start**********/
#portfolio {
  height: 95vh;
  background-color: #111;
  opacity: 0.8;
  margin: 15px;
  border-radius: 30px;
  position: relative;
}

/********************Portfolio Section End**********/

/********************Contact Section Start*************/
#contact {
  height: 95vh;
  background-color: #111;
  opacity: 0.8;
  margin: 15px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 15px;
}

/********************Contact Section End*************/

/* .container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  z-index: -100;
}
@keyframes color{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */
/*************Background Animation Part Start***********/
:root {
  --color-bg1: rgb(14, 3, 12);
  --color-bg2: rgb(2, 3, 10);
  --color1: 3, 34, 171;
  --color2: 0, 10, 86;
  --color3: 11, 2, 55;
  --color4: 27, 0, 100;
  --color5: 4, 23, 164;
  --color-interactive: 23, 4, 80;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;



  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

/*************Background Animation Part End***********/
